#include<windows.h>
#include"dialouge.h"
//DEFPUSHBUTTON	"ok", ID_Win32, 7, 7, 21, 20

ABOUTDIALOUGE	DIALOG DISCARDABLE 32,32,460,360
STYLE			DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION

BEGIN
	LTEXT			"NAME",-1,14,14,22,20
	EDITTEXT		ID_ETName,38,14,90,20
	LTEXT			"BIRTHDATE",-1,158,14,40,20
	EDITTEXT		ID_ETDate,200,14,20,20
	EDITTEXT		ID_ETMonth,223,14,20,20
	EDITTEXT		ID_ETYear,245,14,20,20
	LTEXT			"EDUCATION", -1, 295, 14, 40, 20
	EDITTEXT		ID_ETEducation,336,14,90,20
	LTEXT			"DEGREE",-1,52,124,28,20
	EDITTEXT		ID_ETDegree,82,124,90,20
	LTEXT			"COMPANY",-1,202,124,34,20
	EDITTEXT		ID_ETCompany,238,124,120,20
	DEFPUSHBUTTON	"Win32", ID_Win32, 14,250, 32, 20
	DEFPUSHBUTTON	"ClassFactory",ID_ClassFactory,48,250,52,20
END